.background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: auto;
  background-image: url(../assets/texture.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.background,
.container {
  height: 800px !important;
}

.container {
  font-size: 18px;
  background-image: url(../assets/papyrus.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;

  max-width: 90%;
  height: auto;
  padding: 3%;
  padding-top: 1%;
  margin: 3%;
  margin-top: 0;
  margin-bottom: 0%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  display: flex;
  align-items: center;
}

h1 {
  font-size: 36px;
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
  color: #683e16;
  margin: 0;
  padding-top: 20px;
}

#deckbuilding-door {
  align-items: center;
  max-height: 500px;
  max-width: 90%;
  margin-top: 2%;

  border: 3px black solid;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* ------ Desktop version ------ */

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 45px;
  }
  /* .deckbuilding {
    height: 800px;
  } */
}
