@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@600&display=swap');

/*================ Mobile - First ================ */

/*************************
          Footer
*************************/

footer {
  font-family: 'Pridi', serif;
  font-size: 24px;
  /* Color : wood */
  /* background-color: rgba(124, 81, 42, 0.7); */
  background: url(../assets/texture.jpg);
  background-size: cover;
  color: #eee;
}
.footer-container {
  text-decoration: none;
  display: flex;
  align-items: center;
  max-height: 220px;
}

/* Positioning all items inside footer */

.footer-container > div {
  flex: auto;
  justify-content: space-evenly;
}
.footer-container a {
  text-decoration: none;
  display: block;
  color: inherit;
}

/* Resizing logo */

.logo-footer {
  padding-top: 15px;
  width: 20px;
}
.logo-footer a {
  justify-content: space-around;
}
.logo-footer img {
  width: 130px;
  /* height: 90px; */
  height: auto;
}
footer li {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

/* Official Websites */

.links a {
  padding: 2px 0;
}
.links {
  margin: 0.25em auto;
  align-items: center;
}

/* Social Networks : Ytb / Twitter */
.socialLinks {
  margin-top: 1em;
}
.socialLinks-container img {
  width: 20px;
  min-width: 50px;
  height: auto;
  /* display: block; */
  padding: 0 1px;
}
.socialLinks-container img:hover {
  transform: rotate(360deg);
  transition: all 1.2s ease;
}
.socialLinks-container {
  display: flex;
  justify-content: flex-end;
  min-width: 40px;
}
.socialLinks {
  width: 100%;
}

/* Hidding blocks from mobile version */
.hidden-mobile {
  display: none;
}

/*********************************
    Reponsive Media (Desktop > 1024px)
**********************************/
@media only screen and (min-width: 1024px) {
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
  }
  .links a:hover {
    border-bottom: solid 2px rgb(98, 201, 249);
    filter: drop-shadow(3px 3px 8px rgba(98, 201, 249, 0.671));
    transition: filter 200ms;
  }
  .logo-footer {
    margin-top: 24px;
    height: auto;
    width: 250px;
  }
  .logo-footer img {
    height: 150px;
    width: 240px;
  }
  .team {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .team img {
    padding: 1em;
    margin-top: 1em;
    filter: grayscale(0.8);
    width: 15%;
  }
  .team img:hover {
    filter: none;
  }
  .footer-container a {
    display: inline;
  }
  .socialLinks-container {
    margin: 12px 0;
    height: auto;
    align-items: flex-end;
  }
  .socialLinks-container img {
    width: 100px;
    max-width: 70px;
    height: auto;
  }
  .socialLinks-container a {
    display: flex;
  }
}
/*************************************
Responsive from little screens <450px
************************************/
@media screen and (max-width: 450px) {
  .logo-footer img {
    width: 100px;
    height: 70px;
  }
  footer {
    font-size: 18px;
  }
}
