@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@600&display=swap');

/********************************
-           BANNER
********************************/

/* ------ Mobile version ------ */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 9em;

  background-image: url(../assets/bg-image2.jpg);
  background-position: center;
  background-size: cover;
}

.header-title {
  font-family: 'Berkshire Swash', cursive;
  text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px,
    #000000 2px -2px;

  text-align: center;
  color: #f2cd61;
  font-size: 25px;

  padding: 1em 0em;
  padding-right: 1em;
}

.logo {
  display: flex;
  height: 75px;
  margin: 8px;
}

/* ------ Desktop version ------ */

@media only screen and (min-width: 1024px) {
  .header {
    height: 22em;
    position: relative;
    background-size: cover;
  }

  .header-title {
    color: #f2cd61;
    font-size: 75px;

    padding-bottom: 110px;
    padding-left: 15%;
    padding-right: 8%;
  }

  .logo {
    height: 8em;
    margin-bottom: 3%;
  }
}

/********************************
-           NAVBAR
********************************/

/* ------ Mobile version ------ */

.Rollmenu {
  display: flex;
  justify-content: flex-end;
  padding: 7px 14px;
  margin-right: 10px;
  max-height: 100;

  color: #62c9fa;
  background-color: #333;

  border-radius: 5px;
  border: 1px solid #f2cd61;
  cursor: pointer;

  text-decoration: none;
  font-size: 13px;
}

.nav-list-inactive {
  display: none;
}

.nav-list-active {
  position: absolute;
  right: 0;
  margin-top: 363px;
  width: 100%;

  list-style-type: none;
}

.nav-list-item-active {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px 20px;

  background-color: rgba(131, 216, 255, 0.97);
  transition: filter 400ms;

  font-size: 20px;
  font-family: 'Pridi', serif;
}

.nav-link-item-active {
  color: black;
  text-decoration: none;
}

/* ------ Desktop version ------ */

@media only screen and (min-width: 1024px) {
  .Rollmenu {
    display: none;
  }

  .nav-list-active,
  .nav-list-inactive {
    width: 100%;
    height: 20%;
    margin-top: 297px;

    display: flex;
    justify-content: space-evenly;
    position: absolute;

    background-image: url(../assets/texture.jpg);
    background-size: cover;
    filter: opacity(0.9);

    list-style-type: none;
  }

  ul {
    padding-inline-start: 0;
  }

  .nav-list-item-active,
  .nav-list-item-inactive {
    display: block;
    padding-top: 17px;

    font-size: 20px;
    font-family: 'Pridi', serif;
  }

  .nav-list-item-active:hover,
  .nav-list-item-inactive:hover {
    border-bottom: solid 6px rgb(98, 201, 249);
    filter: drop-shadow(3px 3px 8px rgba(98, 201, 249, 0.671));
    transition: filter 200ms;
  }

  .nav-link,
  .nav-link-item:hover,
  .nav-link-item:visited,
  .nav-link-item-active,
  .nav-link-item-inactive {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;

    color: white;
    text-decoration: none;
  }
}

/********************************
-           SEARCHBAR
********************************/

/* ------ Mobile version ------ */

.search-bar {
  display: none;
}

/* ------ Desktop version ------ */

@media only screen and (min-width: 1024px) {
  .search-bar {
    display: contents;
    display: flex;
    justify-content: flex-end;

    margin-right: 6%;
    margin-bottom: 1%;
  }

  #search {
    width: 200px;
    height: 30px;

    border-radius: 20px;
  }

  #search-button {
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-left: 0.5em;

    background-color: rgba(98, 201, 249, 0.514);
    border-radius: 30%;
    border-width: 5px;
    border-color: rgba(98, 201, 249, 0.514);
    transition: filter 300ms;
  }

  #search-button:hover {
    cursor: pointer;
    filter: opacity(90%);
  }
}
