@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/********************************
-         BACKGROUND
********************************/

.background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../assets/texture.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 77px;
}

/********************************
-          CONTAINER
********************************/

h1 {
  font-size: 36px;
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
  color: #683e16;
  margin: 0;
  padding-top: 1%;
}

.articles {
  font-size: 18px;
  background-image: url(../assets/papyrus.jpg);
  background-position: top;
  background-size: cover;

  max-width: 90%;
  padding: 1% 3%;
  margin: 0px auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  display: flex;
  flex-direction: column;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.right-text {
  text-align: right;
}
.marker {
  list-style-type: none;
  font-size: 18px;
}

.marker li {
  margin-bottom: 1%;
}

/********************************
-      GAME INTRODUCTION
********************************/

.firstArticle {
  max-width: 60%;
  margin: 0 auto;
}

.displayed-intro-button {
  cursor: pointer;
  background-color: #331f0c;
  color: #f2cd61;
  border-color: #6e5e2e;
  font-weight: bold;
  padding: 8px;
  font-family: 'pridi';
  letter-spacing: 1px;
}

.displayed-intro-button:focus {
  outline: 0;
}

.intro-hidden {
  display: none;
}

/********************************
-        CARD ANALYSIS
********************************/

.card_image {
  justify-self: center;
  position: relative;
}

.card-image-inner {
  position: relative;
  display: inline-block;
}

.card-attack-icon {
  position: absolute;
  bottom: -6px;
  left: -12px;
}

.card-attack-icon:hover {
  width: 107px;
  left: -14px;
  bottom: -8px;
}

.card-health-icon {
  position: absolute;
  bottom: -6px;
  left: 196px;
}

.card-health-icon:hover {
  width: 107px;
  left: 194px;
  bottom: -8px;
}

.card-mana-icon {
  position: absolute;
  bottom: 309px;
  left: 10px;
}

.card-mana-icon:hover {
  width: 68px;
  left: 8px;
  bottom: 307px;
}

.card-rarity-icon {
  position: absolute;
  bottom: 117px;
  left: 114px;
}

.card-rarity-icon:hover {
  width: 70px;
  left: 111px;
  bottom: 115px;
}

.Name {
  margin-top: 20px;
  margin-bottom: 10px;
}

.Class {
  margin-bottom: 10px;
}

.Rarity {
  margin-bottom: 10px;
}

.Mana-cost {
  margin-bottom: 10px;
}

.Attack {
  margin-bottom: 10px;
}

.Health {
  margin-bottom: 10px;
}

.Effect {
  margin-bottom: 10px;
}

/* ------ Desktop version ------ */

@media only screen and (min-width: 1085px) {
  /* PagePrinc responsive */

  .intro-hidden {
    display: block;
  }

  .displayed-intro-button {
    display: none;
  }

  h1 {
    font-size: 45px;
  }

  .background {
    padding-top: 0;
  }

  /* ------ Gestion du grid ------ */

  .grid-container {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 75px 75px 75px 75px 75px 75px 75px;
    gap: 2% 0%;
    grid-template-areas:
      '. Class .'
      '. card_image .'
      'Mana-Cost card_image .'
      '. card_image Name'
      'Effect card_image Rarity'
      'Attack card_image Health'
      '. . .';
  }

  .card_image {
    grid-area: card_image;
  }

  .Mana-Cost {
    grid-area: Mana-Cost;
  }

  .Name {
    grid-area: Name;
  }

  .Rarity {
    grid-area: Rarity;
  }

  .Health {
    grid-area: Health;
  }

  .Effect {
    grid-area: Effect;
  }

  .Attack {
    grid-area: Attack;
  }

  .Class {
    grid-area: Class;
    margin-top: 40px;
  }

  .decorative-border {
    display: flex;
    width: 50%;
    max-height: 40px;
    margin: 10px auto;
    filter: opacity(80%) contrast(120%) hue-rotate(2deg);
  }
}
