/* @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@600&display=swap');

.Presentation {
  padding: 1em;
  background: #f3bd77;
  width: auto;
  margin-left: 7%;
  margin-right: 7%;
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
}

.author {
  text-align: center;
}

.paragraphe {
  text-align: justify;
}

.paragraphe-visible {
  height: 100%;
}

.paragraphe-invisible {
  height: 30%;
} */
