.Presentation {
  padding: 1em;
  background: #f3bd77;
  width: auto;
  margin-left: 7%;
  margin-right: 7%;
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
}

.author {
  text-align: center;
}

.paragraphe {
  text-align: justify;
}
