@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@600&display=swap');

/********************************
-        CONTAINERS
********************************/

/* ------ Mobile version ------ */

/*CSS du container principal*/
.background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: auto;
  background-image: url(../assets/texture.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.research-container {
  background-image: url(../assets/papyrus.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  max-width: 90%;
  height: auto;
  padding: 3%;
  padding-top: 1%;
  margin: 3%;
  margin-top: 0;
  margin-bottom: 0%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*CSS du container secondaire*/
.research-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.research-container h1 {
  padding-top: 1%;
  margin-bottom: 15px;

  font-size: 36px;
  font-family: 'Berkshire Swash', cursive;
}

.decorative-border {
  display: none;
}

.research-content h2 {
  margin-top: 1px;

  color: #683e16;
  font-size: 22px;
  font-family: 'Berkshire Swash', cursive;
}
.searchList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
}
/* ------ Desktop version ------ */

@media only screen and (min-width: 1358px) {
  .research-container h1 {
    font-size: 45px;
  }

  .research-content h2 {
    font-size: 30px;
  }

  .research-content {
    flex-direction: row;
  }

  .decorative-border {
    display: flex;
    align-self: center;
    width: 50%;
    max-height: 40px;
    margin-bottom: 20px;
    margin-left: 25%;
    filter: opacity(80%) contrast(120%) hue-rotate(2deg);
  }

  .filters {
    max-width: 50%;
    padding-right: 5px;
    border-right: 2px solid;
  }

  .cards-list {
    max-width: 50%;
    max-height: 530px;
    overflow: auto;
  }

  .cards-list::-webkit-scrollbar {
    width: 13px;
    height: 12px;
  }

  .cards-list::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  .cards-list::-webkit-scrollbar-thumb {
    background: rgb(214, 166, 28);
    background: linear-gradient(
      180deg,
      rgba(214, 166, 28, 1) 0%,
      rgba(255, 216, 103, 1) 35%,
      rgba(214, 166, 28, 1) 100%
    );
    border: 2px solid #683e16;
    border-radius: 7px;
  }

  .cards-list::-webkit-scrollbar-thumb:hover {
    background: rgb(214, 166, 28);
    background: linear-gradient(
      180deg,
      rgba(214, 166, 28, 1) 0%,
      rgba(255, 216, 103, 1) 35%,
      rgba(214, 166, 28, 1) 100%
    );
  }

  .cards-list::-webkit-scrollbar-thumb:active {
    background: rgb(214, 166, 28);
    background: linear-gradient(
      180deg,
      rgba(214, 166, 28, 1) 0%,
      rgba(255, 216, 103, 1) 35%,
      rgba(214, 166, 28, 1) 100%
    );
  }

  .cards-list::-webkit-scrollbar-track {
    background: rgb(60, 36, 13);
    background: linear-gradient(
      180deg,
      rgba(60, 36, 13, 1) 0%,
      rgba(104, 62, 22, 1) 35%,
      rgba(60, 36, 13, 1) 100%
    );
    border: 15px none;
    border-radius: 12px;
  }

  .cards-list::-webkit-scrollbar-track:hover {
    background: rgb(60, 36, 13);
    background: linear-gradient(
      180deg,
      rgba(60, 36, 13, 1) 0%,
      rgba(104, 62, 22, 1) 35%,
      rgba(60, 36, 13, 1) 100%
    );
  }

  .cards-list::-webkit-scrollbar-track:active {
    background: rgb(60, 36, 13);
    background: linear-gradient(
      180deg,
      rgba(60, 36, 13, 1) 0%,
      rgba(104, 62, 22, 1) 35%,
      rgba(60, 36, 13, 1) 100%
    );
  }

  .cards-list::-webkit-scrollbar-corner {
    background: transparent;
  }
}

/********************************
-           FILTERS
********************************/

/* ------ Mobile version ------ */

.transparent-btn {
  background: transparent;
  border: none;
  padding: 0;
}

.transparent-btn:focus {
  outline: 0;
}

/* NAME */

.name-research {
  display: flex;
  flex-direction: column;

  padding-top: 10px;
}

#card-filter-search {
  cursor: text;
  border-radius: 20px;
  width: 50%;
  height: 25px;
  font-weight: bold;
  background: rgb(60, 36, 13);
  background: linear-gradient(
    180deg,
    rgba(60, 36, 13, 1) 0%,
    rgba(104, 62, 22, 1) 35%,
    rgba(60, 36, 13, 1) 100%
  );
  color: #f2cd61;
  border-color: #6e5e2e;
  padding-left: 10px;
}

#card-filter-search:focus {
  outline: 0;
}

#card-filter-search::placeholder {
  color: #f2cd61;
  font-family: Pridi, serif;
}

/* CLASSES */

.class-filter-container {
  display: flex;
  flex-direction: column;

  max-width: 100%;
  padding-top: 25px;
}

.class-filter {
  display: flex;
  width: 49px;
  padding: 2px;
  cursor: pointer;
  filter: brightness(10%) contrast(90%);
}

.class-filter-selected {
  filter: none;
}

.class-filter:hover {
  filter: none;
}

/* MANA */

.mana-filter-container {
  padding-top: 20px;
}

.mana-filter {
  display: flex;
  width: 40px;
  padding: 2px;
  cursor: pointer;
}

.mana-filter:hover {
  filter: saturate(400%) brightness(200%);
}

.mana-filter-selected {
  filter: saturate(400%) brightness(200%);
}

/*RARITY*/

.rarity-filter-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.rarity-filter-container p {
  font-size: 18px;
  margin: 0;
  color: #683e16;
  font-family: 'Pridi', serif;
}

.rarity-filter {
  padding-left: 5px;
  padding-right: 5px;
  width: 50px;
  cursor: pointer;
}

.rarity-filter:hover {
  filter: brightness(170%) contrast(100%);
}

.rarity-filter-selected {
  filter: brightness(170%) contrast(100%);
}

/********************************
-         CARDS LIST
********************************/

/* ------ Mobile version ------ */

/* ------ Desktop version ------ */
