@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@600&display=swap');

/********************************
-        CONTAINERS
********************************/

/* ------ Mobile version ------ */

/*CSS du container principal*/
.background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: auto;
  background-image: url(../assets/texture.jpg);
  background-position: center;
  background-size: cover;
}

.research-container {
  background-image: url(../assets/papyrus.jpg);
  background-position: top;
  background-size: cover;
  max-width: 90%;
  height: auto;
  padding: 3%;
  padding-top: 1%;
  margin: 3%;
  margin-top: 1%;
  margin-bottom: 0%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*CSS du container secondaire*/
.research-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.research-container h1 {
  margin-top: 0.5px;
  margin-bottom: 0;

  font-size: 25px;
  font-family: 'Berkshire Swash', cursive;
}

.decorative-border {
  display: none;
}

.research-content h2 {
  margin-top: 1px;

  color: #683e16;
  font-size: 17px;
  font-family: 'Berkshire Swash', cursive;
}

/* ------ Desktop version ------ */

@media only screen and (min-width: 1024px) {
  .research-container h1 {
    font-size: 45px;
  }

  .research-content h2 {
    font-size: 30px;
  }

  .research-content {
    flex-direction: row;
  }

  .decorative-border {
    display: flex;
    align-self: center;
    width: 50%;
    max-height: 40px;
    margin-bottom: 20px;
    margin-left: 25%;
    filter: opacity(80%) contrast(120%) hue-rotate(2deg);
  }

  .filters {
    max-width: 50%;
    padding-right: 5px;
    border-right: 2px solid;
  }

  .cards-list {
    max-width: 50%;
    max-height: 530px;
    overflow: auto;
  }
}

/********************************
-           FILTERS
********************************/

/* ------ Mobile version ------ */

.transparent-btn {
  background: transparent;
  border: none;
  padding: 0;
}

.transparent-btn:focus {
  outline: 0;
}

/* NAME */

.name-research {
  display: flex;
  flex-direction: column;

  padding-top: 10px;
}

#card-filter-search {
  cursor: pointer;
  border-radius: 20px;
  width: 50%;
  height: 25px;
  font-weight: bold;
  background-color: #331f0c;
  color: #f2cd61;
  border-color: #6e5e2e;
  padding-left: 10px;
}

#card-filter-search:focus {
  outline: 0;
}

#card-filter-search::placeholder {
  color: #f2cd61;
  font-family: Pridi, serif;
}

/* CLASSES */

.class-filter-container {
  display: flex;
  flex-direction: column;

  max-width: 100%;
  padding-top: 25px;
}

.class-filter {
  display: flex;
  width: 49px;
  padding: 2px;
  cursor: pointer;
  filter: saturate(0%) brightness(200%);
}

.class-filter-selected {
  filter: none;
}

.class-filter:hover {
  filter: none;
}

/* MANA */

.mana-filter-container {
  padding-top: 20px;
}

.mana-filter {
  display: flex;
  width: 40px;
  padding: 2px;
  cursor: pointer;
}

.mana-filter:hover {
  filter: saturate(400%) brightness(200%);
}

.mana-filter-selected {
  filter: saturate(400%) brightness(200%);
}

/*RARITY*/

.rarity-filter-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.rarity-filter-container p {
  margin: 0;
  color: #683e16;
  font-family: 'Pridi', serif;
}

.rarity-filter {
  padding-left: 5px;
  padding-right: 5px;
  width: 50px;
  cursor: pointer;
}

.rarity-filter:hover {
  filter: brightness(170%) contrast(100%);
}

.rarity-filter-selected {
  filter: brightness(170%) contrast(100%);
}

/********************************
-         CARDS LIST
********************************/

/* ------ Mobile version ------ */

.hero {
  display: none;
}
.catalogue {
  padding: 5%;

  border: #d76f45 ridge 6px;
  background-color: rgb(255, 255, 203);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* ------ Desktop version ------ */
