.container {
  background-image: url(../assets/papyrus.jpg);
  padding: 3%;
  padding-top: 1%;
  margin: 0px 3%;
}

/* ------ Desktop version ------ */

@media only screen and (min-width: 1085px) {
  h1 {
    font-size: 45px;
  }
}
